
/*---header----------------------------------*/
.header {
	width: 100%;
	height: 5.5rem;
	background: #29bde0;
	text-align: center;
	border-bottom: 0.0625rem solid #74d4eb;
}

.header-left {
	float: left;
	display: block;
	padding: 1.625rem 0 1.125rem 1.25rem;
	cursor: pointer;
}

.header-right {
	float: right;
	display: block;
	padding: 1.8rem 1.25rem 1.5rem 0;
	cursor: pointer;
}

.header-title {
	line-height: 5.5rem;
	font-size: 2.125rem;
	color: #FFFFFF;
}

/*---body------------------------------------*/
.game-decode {
	position: relative;
	background: url("../images/cry.png") #29bde0 11.875em 3.875rem no-repeat;
	text-align: center;
	padding: 23.625rem 0 3.75rem;
}

.game-decode-music {
	position: absolute;
	top: 1.875rem;
	right: 3.375rem;
	width: 3.6875rem;
	height: 3.6875rem;
	border: 0.1875rem solid #FFFFFF;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	cursor: pointer;
}

.game-decode-triangle {
	width: 0;
	height: 0;
	border-left: 1.4375rem solid #FFFFFF;
	border-top: 0.84375rem solid transparent;
	border-bottom: 0.84375rem solid transparent;
	margin: 1rem 0 0 1.3rem;
}

.game-decode-text {
	line-height: 2.375rem;
	font-size: 1.75rem;
	color: #FFFFFF;
}

/*---footer------------------------------------*/
.game-vote {
	width: 40rem;
	min-height: 5.375rem;
	background: #29bde0;
	border-top: 0.125rem solid #87daee;
	text-align: center;
	padding-top: 2.125rem;
	margin-top: 4.25rem;
}

.game-vote-speak {
	width: 26rem;
	height: 3.75rem;
	line-height: 3.75rem;
	font-size: 2.125rem;
	color: #FFFFFF;
	-webkit-border-radius: 0.5rem;
	-moz-border-radius: 0.5rem;
	border-radius: 0.5rem;
	background: #24a7c6;
}

.game-vote-down {
	display: block;
	padding-bottom: 0.375rem;
}

.game-vote-go {
	width: 30.625rem;
	margin: 0 4.6875rem 0;
	background: #fab344;
	color: #FFFFFF;
	font-size: 2.5rem;
	height: 5.375rem;
	line-height: 5.375rem;
	cursor: pointer;
}

