
/*---header----------------------------------*/
.header {
	width: 100%;
	height: 5.625rem;
	background: #29bde0;
	text-align: center;
	border-bottom: 0.0625rem solid #74d4eb;
}

.header-left {
	float: left;
	display: block;
	padding: 1.625rem 0 1.125rem 1.25rem;
	cursor: pointer;
}

.header-right {
	float: right;
	display: block;
	margin: 1.8rem 1.25rem 0.875rem 0;
	cursor: pointer;
}

.header-title {
	line-height: 5.625rem;
	font-size: 2.125rem;
	color: #FFFFFF;
}

/*---body---------------------------------------*/
.game-content {
	width: 100%;
	background: #29bde0;
}

.game-header {
    position: relative;
	height: 5.125rem;
    background: #b9e9f5;
}

.game-header-text {
    display: block;
    font-size: 1.625rem;                  /*26*/
	line-height: 5.125rem;
	text-align: left;
	padding-left: 3.25rem;
}

.game-header-music {
    float: right;
    padding: 0.8125rem 1.0625rem 0.8125rem 0; /*15 17 15 0*/
}

.game-header-arrows {
    position: absolute;
    top: 5.125rem;
    left: 4.375rem;
    width: 0;
    height: 0;
    border-left: 0.40625rem solid transparent;           /*测量三角形宽度15px，高度13px*/
    border-right: 0.40625rem solid transparent;             /*实际还原应该是宽度15px，高度6.5px*/
    border-top: 0.8125rem solid #b9e9f5;        /*相对于640PX*/
}

.game-body {
	min-height: 63.125rem;
	background: #29bde0;
	padding: 0 0.625rem;
}

.game-text {
    display: block;
    font-size: 1.5rem;              /*24*/
	line-height: 5.625rem;
    color: #FFFFFF;
	padding-left: 3.4rem;          /*25 0  42  72*/
}

.game-zone-gamer {
	display: inline-block;
	width: 7.875rem;
	height: 7.875rem;
	border: 0.3125rem solid #FFFFFF;
	margin: 0 2.1rem 4rem;
	cursor: pointer;
	text-align: center;
	background: url("../images/background-logo.png") no-repeat;
}

.gamer-name {
	display: block;
	height: 6.125rem;
	line-height: 6.125rem;
	font-size: 1.875rem;
	color: rgba(86,86,86,0);
	background: rgba(245,201,123,0)
}

.gamer-num {
	display: block;
	height: 1.75rem;
	font-size: 1.4225rem;
	color: rgba(255,255,255,1);
	background: rgba(41,189,224,0.5);
}

.game-skill {

}

.game-skill:hover {

}

.kill,.seek,.target {
    float: left;
    width: 22.1%;
    margin: 14.6% 3.79% 14.6% 0;              /*22*/
}

.save {
    float: left;
    width: 22.1%;
    margin-right: 0;
    margin-top: 14.6%;
}

.bottom {
    width:100%;
    padding-bottom: 12.125rem;
    clear: both;
}

/*---footer----------------------------------------------*/
.footer {
	position: fixed;
	width: 40rem;
	bottom: 0;
	background: #29bde0;
	border-top: 0.125rem solid #FFFFFF;
}

.game-deal {
	width: 30.625rem;
	margin: 3.125rem 4.6875rem 3.75rem;
	background: #fab344;
	color: #FFFFFF;
	font-size: 2.5rem;
	text-align: center;
	height: 5.3125rem;
	line-height: 5.3125rem;
	cursor: pointer;
}
