
<header class="task2-header">
    <div ng-click="gameClose()" class="task2-header-set">
        <div class="task2-header-set-m"></div>
    </div>
</header>
<div class="task2-homepage">
    <div class="task2-homepage-header container">
        <a ng-click="gameClose()" class="task2-homepage-return" ><img src="images/header-next.png" alt="" /></a>
        <div class="task2-headline">上次游戏：捉鬼猜词版</div>
    </div>
    <div class="task2-homepage-game container">
        <a ng-click="gameClose()" class="task2-next"></a>
        <div class="task2-game-name">捉鬼游戏</div>
        <ul class="task2-game-box">
            <li  ng-click="decide()" class="task2-game-type">
                <a>简化版</a>
            </li>
            <li class="task2-gamers">有1133个用户正在玩此款游戏</li>
            <li ng-click="gameClose()" class="task2-game-type">
                <a>猜词版</a>
            </li>
            <li class="task2-gamers">有1133个用户正在玩此款游戏</li>
            <li ng-click="gameClose()" class="task2-game-type">
                <a>白痴版</a>
            </li>
            <li class="task2-gamers">有1133个用户正在玩此款游戏</li>
        </ul>
        <div class="task2-btn-group">
            <a href="#" class="task2-btn active"></a>
            <a href="#" class="task2-btn"></a>
            <a href="#" class="task2-btn"></a>
            <a href="#" class="task2-btn"></a>
        </div>
    </div>
</div>
