
/*---header----------------------------------*/
.task3-header {
	width: 100%;
	height: 5.625rem;
	background: #29bde0;
	text-align: center;
}

	.task3-header-left {
		float: left;
		display: block;
		padding: 1.6875rem 0 1.125rem 1.25rem;
		cursor: pointer;
	}

	.task3-header-right {
		float: right;
		display: block;
		margin: 1.4375rem 1.25rem 0.875rem 0;
		cursor: pointer;
	}

	.task3-header-title {
		line-height: 5.625rem;
		font-size: 2.125rem;
		color: #FFFFFF;
	}

/*---game-body-------------------------------*/
.task3-game-body {
	background: #f0f0f0;
	padding: 1.25rem 1.0628rem;
}

	.task3-gamers {
		width: 37.875rem;        /*606px*/
		height: 28.25rem;
		background: #FFFFFF;
	}

		.task3-gamers-title {
			display: block;
			float: left;
			font-size: 2.125rem;
			color: #444444;
			line-height: 100%;
			border-right: 0.0625rem solid #d9d9d9;
			padding: 9.875rem 2.75rem;
		}

		.task3-gamers-info {
			display: block;
			width: 79.703%;         /*483*/
			height: 24.4375rem;
			margin-left: 7.6875rem ;
			border-bottom: 0.0625rem solid #d9d9d9;
			overflow: auto;
		}

	    .orange {
		    background:#f0ad4e;
	    }

	    .blue {
		    background:#29bde0;
	    }

        .task3-gamers-button {
	        border: none;
	        background: #FFFFFF;
	        font-size: 1.75rem;
	        color: #29bde0;
	        width: 30.1875rem;
	        height: 3.75rem;
	        line-height: 3.75rem;
	        cursor: pointer;
        }

		.task3-gamers-text {
			float: left;
			width: 14.5625rem;         /*233*/
			text-align: center;
			font-size: 1.625rem;
			color: #a1a1a1;
			margin-top: 3.125rem;
		}

        .task3-gamers-text i{
	        display: inline-block;
	        width: 0.625rem;
	        height: 0.625rem;
	        margin: 0 1.625rem 0.4375rem 0;
        }

    .task3-game-word {
	    display: block;
	    background: #FFFFFF;
	    padding: 0 1.75rem;
	    margin: 0.625rem 0;
    }
		.task3-game-word-group {
			width: 100%;         /*550*/
			font-size: 1.75rem;
			color: #000;
			border-right: none;
			border-left: none;
			border-top: none;
			border-bottom: 0.125rem solid #f0f0f0;
			padding: 1.21875rem 0;
			margin-bottom: 1.25rem;
		}

    .task3-game-num {
	    display: block;
	    background: #FFFFFF;
	    font-size: 1.75rem;
	    padding: 1.1875rem 1.75rem;
    }

        .task3-game-num span {
	        color: #444444;
        }

        .task3-game-num-text {
	        width: 3.75rem;
	        height: 2.625rem;
	        line-height: 2.625rem;
	        font-size: 1.75rem;
	        color: #fab344;
	        border: none;
	        background: #f4f5f5;
	        text-align: center;
        }

    .task3-game-bar {
		height: 1.75rem;
	    padding: 2.5625rem 3.125rem;
	    background: #FFFFFF;
    }

        .task3-game-bar-sub,
        .task3-game-bar-add {
	        float: left;
	        width: 1.625rem;
	        height: 1.625rem;
	        border: 0.0625rem solid #d9d9d9;
	        text-align: center;
	        cursor: pointer;
        }

        .task3-game-bar-sub img,
        .task3-game-bar-add img {
	        vertical-align: middle
        }

    .task3-game-deal {
	    background: #fab344;
	    color: #FFFFFF;
	    font-size: 2.5rem;
	    text-align: center;
	    height: 5.5rem;
	    line-height: 5.5rem;
	    margin: 1.1875rem 0 1.4375rem;
	    cursor: pointer;
    }

input[type=range] {
	-webkit-appearance: none;
}

/*轨道样式*/
input[type=range]::-webkit-slider-runnable-track {
	height: 0.25rem;
}

.task3-game-bar-progress {
	float: left;
	width: 25.5rem;
	margin: 0.75rem 1.3125rem;
	background: #fab344;
	outline: none;
}

/*滑块样式*/
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 60px;
	height: 36px;
	margin-top: -1rem; /*使滑块超出轨道部分的偏移量相等*/
	background: url("../images/game-bar-block.png") no-repeat;
}
